Source/gatewaywar/src/main/webapp/QueryDemographicAnswer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright Notice: This document (written or otherwise displayed on magnetic media or other medium) contains confidential and proprietary information of OmniTicket Network, Inc. 
	or its affiliates. It has been furnished only for informational purposes, and no license or permission is hereby granted to use such information in any manner. In no event may this 
	information be reproduced, distributed and/or publicly displayed in any form or by any means without prior expressed written permission of OmniTicket Network, Inc. All rights reserved. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Command">
		<xs:annotation>
			<xs:documentation>Message Format Answer</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Header">
					<xs:annotation>
						<xs:documentation>Recap information on Message type</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ReferenceNumber">
								<xs:annotation>
									<xs:documentation>Incoming </xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="30" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="RequestNumber" type="xs:integer">
								<xs:annotation>
									<xs:documentation>Match the Incoming Request Number</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="SessionId" type="xs:integer">
								<xs:annotation>
									<xs:documentation>Session Id
										One for each new Login where managed
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="RequestType">
								<xs:annotation>
									<xs:documentation>Command Group
										Command group type
									</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Query" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="RequestSubType">
								<xs:annotation>
									<xs:documentation>Command subtype
										Detailed command
									</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="QueryDemographic" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ValueMsg">
								<xs:annotation>
									<xs:documentation>Value messages Group
										Only on answer Messages
									</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ValuedQty" type="xs:integer" />
										<xs:element name="NonValuedQty" type="xs:integer" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="QueryDemographic">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Error">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ErrorCode" type="xs:integer">
											<xs:annotation>
												<xs:documentation>0 = no error</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ErrorShortDescription" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="25" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ErrorDescription" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Error Description</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="DemographicInfo" minOccurs="0" maxOccurs="8">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Item">
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:minInclusive value="1" />
													<xs:maxInclusive value="8" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ItemStatus">
											<xs:annotation>
												<xs:documentation>Item Result Code</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:maxInclusive value="65000" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ItemType" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1" />
													<xs:maxLength value="1" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ItemAlphaCode" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="5" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ItemNumCode" type="xs:integer" minOccurs="0" />
										<xs:element name="TicketName" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="0" />
													<xs:maxLength value="20" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Description" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="0" />
													<xs:maxLength value="40" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PrintedPrice" type="xs:float" minOccurs="0" />
										<xs:element name="Price" type="xs:float" minOccurs="0" />
										<xs:element name="Tax" type="xs:float" minOccurs="0" />
										<xs:element name="Ticket" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="TDSSN">
														<xs:annotation>
															<xs:documentation>String Code</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Site">
																	<xs:annotation>
																		<xs:documentation>Site String</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:minLength value="3" />
																			<xs:maxLength value="3" />
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Station">
																	<xs:annotation>
																		<xs:documentation>Station String</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:minLength value="6" />
																			<xs:maxLength value="6" />
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Date" type="xs:string">
																	<xs:annotation>
																		<xs:documentation>Date String</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="TicketId" type="xs:string">
																	<xs:annotation>
																		<xs:documentation>Ticket string</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="TCOD">
														<xs:annotation>
															<xs:documentation>Numeric Code</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="17" />
																<xs:maxLength value="17" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="BarCode">
														<xs:annotation>
															<xs:documentation>Ticket Barcode</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="21" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="MagCode">
														<xs:annotation>
															<xs:documentation>Mag Track 1</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="73" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ExternalTicketCode">
														<xs:annotation>
															<xs:documentation>External ticket code</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="20" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Validity" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Validity at the gate</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="StartDate" type="xs:string">
														<xs:annotation>
															<xs:documentation>Start Date at gates</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="EndDate" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="TransactionDSSN" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Transaction Id</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Site">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="3" />
																<xs:minLength value="3" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Station">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="6" />
																<xs:maxLength value="6" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Date" type="xs:string" />
													<xs:element name="TransactionId" type="xs:integer">
														<xs:annotation>
															<xs:documentation>Transaction Number</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="TransactionCOD" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="17" />
													<xs:maxLength value="17" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ClientCategory" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="3" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PriceListId" type="xs:integer" minOccurs="0" />
										<xs:element name="AssociationId" type="xs:integer" minOccurs="0" />
										<xs:element name="MemberId" type="xs:integer" minOccurs="0" />
										<xs:element name="DemographicData" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Field" maxOccurs="30">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="FieldId" type="xs:integer" />
																<xs:element name="FieldType" type="xs:integer" />
																<xs:element name="FieldValue" type="xs:string" />
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="UserInfo" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="AlphaUserId">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="15" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="NumericUserId" type="xs:integer" />
													<xs:element name="Status">
														<xs:annotation>
															<xs:documentation>A=Active D=Inactive</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="1" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
