Source/gatewaywar/src/main/webapp/QueryAssignSeatingShowAnswer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright Notice: This document (written or otherwise displayed on magnetic media or other medium) contains confidential and proprietary information of OmniTicket Network, Inc. 
	or its affiliates. It has been furnished only for informational purposes, and no license or permission is hereby granted to use such information in any manner. In no event may this 
	information be reproduced, distributed and/or publicly displayed in any form or by any means without prior expressed written permission of OmniTicket Network, Inc. All rights reserved. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Command">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Header">
					<xs:annotation>
						<xs:documentation>Recap information on Message type</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ReferenceNumber">
								<xs:annotation>
									<xs:documentation>Incoming </xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="30" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="RequestNumber" type="xs:integer">
								<xs:annotation>
									<xs:documentation>Match the Incoming Request Number</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="SessionId" type="xs:integer">
								<xs:annotation>
									<xs:documentation>Session Id
										One for each new Login where managed
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="RequestType">
								<xs:annotation>
									<xs:documentation>Command Group
										Command group type
									</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Query" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="RequestSubType">
								<xs:annotation>
									<xs:documentation>Command subtype
										Detailed command
									</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="QueryAssignSeatingShow" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ValueMsg">
								<xs:annotation>
									<xs:documentation>Value messages Group
										Only on answer Messages
									</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ValuedQty" type="xs:integer" />
										<xs:element name="NonValuedQty" type="xs:integer" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="QueryAssignSeatingShow">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Error">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ErrorCode" type="xs:integer">
											<xs:annotation>
												<xs:documentation>0 = no error</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ErrorShortDescription" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="25" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ErrorDescription" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Error Description</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ShowDetails" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Event" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="EventAK" type="xs:string">
														<xs:annotation>
															<xs:documentation>Internal Ovw Id  </xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="EventCode" type="xs:string">
														<xs:annotation>
															<xs:documentation>8 Char Show code</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ProductCategoryAK" minOccurs="0">
														<xs:annotation>
															<xs:documentation>optional SHOWTICKET </xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Siae" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Genere" type="xs:byte">
																	<xs:annotation>
																		<xs:documentation>Codice SIAE evento (es ,77=parchi diverimento)</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="EventType">
														<xs:annotation>
															<xs:documentation>1=Show 2=GA 3=Product</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:byte">
																<xs:enumeration value="1" />
																<xs:enumeration value="2" />
																<xs:enumeration value="3" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Name" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Overview Show Name</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="LocationAK">
														<xs:annotation>
															<xs:documentation>Default AccesArea Code
																See also performance Access Area
															</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="ProducerAK" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Organizzatore SIAE o Fisso Codice Evento</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="Description" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Event Description</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="StartDate" type="xs:date">
														<xs:annotation>
															<xs:documentation>Event Start Date</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="EndDate" type="xs:date">
														<xs:annotation>
															<xs:documentation>Event End Date</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="PriceLists" minOccurs="0">
														<xs:annotation>
															<xs:documentation>Available Price List</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="PriceList" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="PriceListAK">
																				<xs:annotation>
																					<xs:documentation>Unique Identifier</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="Name" />
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Envelopes" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Envelope" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="EnvelopeAK" />
																			<xs:element name="Name" type="xs:string" />
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="PriceTables" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="PriceTable" maxOccurs="unbounded">
																	<xs:annotation>
																		<xs:documentation>Available Price Table</xs:documentation>
																	</xs:annotation>
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="PriceTableAK" />
																			<xs:element name="Name" type="xs:string" />
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Performances" minOccurs="0">
														<xs:annotation>
															<xs:documentation>List of performances date </xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Performance" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="PerfId" />
																			<xs:element name="PerfDateTime" type="xs:dateTime">
																				<xs:annotation>
																					<xs:documentation>Default 6.00</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="PriceTableAK">
																				<xs:annotation>
																					<xs:documentation>Price Table Description </xs:documentation>
																				</xs:annotation>
																			</xs:element>
																			<xs:element name="LocationAK" />
																			<xs:element name="StartSale" type="xs:date" />
																			<xs:element name="EndSale" type="xs:date" />
																			<xs:element name="StatusAK" type="xs:integer">
																				<xs:annotation>
																					<xs:documentation>OP=Open CL=Closed SU=Suspended CO=Confirmed</xs:documentation>
																				</xs:annotation>
																			</xs:element>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Products" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Product" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="ProductAK" type="xs:string" />
																			<xs:element name="ProductName" type="xs:string" />
																			<xs:element name="Price" type="xs:float" />
																			<xs:element name="ProductCode" />
																			<xs:element name="Description" />
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Categories" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Category" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="MapAK" type="xs:string" />
																			<xs:element name="CategoryAK" type="xs:string" />
																			<xs:element name="Name" type="xs:string" />
																			<xs:element name="CategoryId" type="xs:integer" />
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="Reductions" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Reduction" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="ReductionAK" type="xs:string" />
																			<xs:element name="Name" />
																			<xs:element name="Code" />
																			<xs:element name="Description" />
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="PriceMatrices" minOccurs="0">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="PriceMatrix" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="MapAK" />
																			<xs:element name="PriceListAK" />
																			<xs:element name="PriceTableAK" />
																			<xs:element name="ProductAK" />
																			<xs:element name="CategoryAK" />
																			<xs:element name="ReductionAK" />
																			<xs:element name="Price" type="xs:float" />
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
