Source/gatewaywar/src/main/webapp/QueryTransactionAnswer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Copyright Notice: This document (written or otherwise displayed on magnetic media or other medium) contains confidential and proprietary information of OmniTicket Network, Inc. 
	or its affiliates. It has been furnished only for informational purposes, and no license or permission is hereby granted to use such information in any manner. In no event may this 
	information be reproduced, distributed and/or publicly displayed in any form or by any means without prior expressed written permission of OmniTicket Network, Inc. All rights reserved. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Command">
		<xs:annotation>
			<xs:documentation>Message Format Answer</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Header">
					<xs:annotation>
						<xs:documentation>Recap information on Message type</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ReferenceNumber">
								<xs:annotation>
									<xs:documentation>Incoming </xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="30" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="RequestNumber" type="xs:integer">
								<xs:annotation>
									<xs:documentation>Match the Incoming Request Number</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="SessionId" type="xs:integer">
								<xs:annotation>
									<xs:documentation>Session Id
										One for each new Login where managed
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="RequestType">
								<xs:annotation>
									<xs:documentation>Command Group
										Command group type
									</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Query" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="RequestSubType">
								<xs:annotation>
									<xs:documentation>Command subtype
										Detailed command
									</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="QueryTransaction" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ValueMsg">
								<xs:annotation>
									<xs:documentation>Value messages Group
										Only on answer Messages
									</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ValuedQty" type="xs:integer" />
										<xs:element name="NonValuedQty" type="xs:integer" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="QueryTransaction">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Error">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ErrorCode" type="xs:integer">
											<xs:annotation>
												<xs:documentation>0 = no error</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ErrorShortDescription" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="25" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ErrorDescription" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Error Description</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="SellerId" type="xs:integer" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Seller ID
										(Phase 2)
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="ProductInfo" minOccurs="0" maxOccurs="20">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Item">
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:minInclusive value="1" />
													<xs:maxInclusive value="20" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="TicketType" type="xs:integer" />
										<xs:element name="Price" type="xs:float" />
										<xs:element name="Qty" type="xs:integer">
											<xs:annotation>
												<xs:documentation>Ticket Quantity</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Tax" type="xs:float" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="PaymentInfo" minOccurs="0" maxOccurs="3">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Item">
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:minInclusive value="1" />
													<xs:maxInclusive value="3" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PaymentType">
											<xs:annotation>
												<xs:documentation>Payment Type Code
													See PT001 Table
												</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:minInclusive value="1" />
													<xs:maxInclusive value="16" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PaymentAmount" type="xs:float">
											<xs:annotation>
												<xs:documentation>Payment Amount</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:choice minOccurs="0">
											<xs:element name="CreditCard" minOccurs="0">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="AuthNumber">
															<xs:annotation>
																<xs:documentation>Bank Authorization number</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="10" />
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="AuthErrorCode">
															<xs:annotation>
																<xs:documentation>Authorizator Error
																	0=no error
																</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="10" />
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="CCNumber" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Credit Card Number</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="20" />
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="CCExpiration" minOccurs="0">
															<xs:annotation>
																<xs:documentation>MMYY</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="4" />
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="Voucher" minOccurs="0">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="MasterCode" type="xs:integer" />
														<xs:element name="UniqueCode" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="25" />
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:choice>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="TransactionType" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Transaction Type
										Table TT001
									</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="1" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ZipCode" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="10" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="VoidCode" type="xs:integer" minOccurs="0" />
							<xs:element name="IATA" minOccurs="0">
								<xs:annotation>
									<xs:documentation>IATA Number</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="20" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="Status" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1" />
										<xs:maxLength value="1" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TransactionNote" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Transaction Note</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="40" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="OperatorId" type="xs:integer" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Operator ID</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="TaxExempt" type="xs:boolean" minOccurs="0" />
							<xs:element name="TotalAmount" type="xs:float" minOccurs="0" />
							<xs:element name="TotalTax" type="xs:float" minOccurs="0" />
							<xs:element name="CostCenter" minOccurs="0" maxOccurs="30">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CostCenterId" type="xs:integer" />
										<xs:element name="CostCenterAmount" type="xs:float" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="OutTransactionAttribute" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="AttributeKey">
											<xs:annotation>
												<xs:documentation>Univocal Key</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:minInclusive value="0" />
													<xs:maxInclusive value="65535" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="AttributeValue">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="40" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="AttributeType">
											<xs:annotation>
												<xs:documentation>(1=date) (2=number) (3=list select) (4=free input)</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:byte">
													<xs:minInclusive value="1" />
													<xs:maxInclusive value="4" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="AttributeFlag">
											<xs:annotation>
												<xs:documentation>Editable or NotEditable</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:enumeration value="Editable" />
													<xs:enumeration value="NotEditable" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
