Source/config/schemas/create_ticket_request.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2013 (x64) (http://www.altova.com) by Todd Lewis (WALT DISNEY WORLD RESORT) -->
<!--TiXML 1.0  12/17/02  Copyright The Walt Disney Company-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0">
	<xs:element name="Transmission">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Payload">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="PayloadHeader"/>
							<xs:element name="Command">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="CommandHeader"/>
										<xs:element ref="CreateTicketRequest" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PayloadHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PayloadID">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="12"/>
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Target">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="4"/>
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Version">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="3"/>
							<xs:maxLength value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Priority" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Not supported by DTI</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ProcMethod" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Not supported by DTI </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Comm">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Protocol" type="xs:string"/>
							<xs:element name="Method" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="TransmitDate" type="xs:date"/>
				<xs:element name="TransmitTime" type="xs:string"/>
				<xs:element name="TktSeller">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TSMAC">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1"/>
										<xs:maxLength value="15"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TSSystem" type="xs:string"/>
							<xs:element name="TSLocation">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1"/>
										<xs:maxLength value="15"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TSSecurity" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PostHdrWork" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Not supported by DTI</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CommandCount" type="xs:integer"/>
				<xs:element name="PayloadNote" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Not supported by DTI</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CommandHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CmdItem" type="xs:integer"/>
				<xs:element name="CmdProcRule" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Not supported by DTI</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Rule" type="xs:string"/>
							<xs:element name="Value" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="CmdTimeout" type="xs:integer" minOccurs="0"/>
				<xs:element name="CmdDate" type="xs:date"/>
				<xs:element name="CmdTime" type="xs:string"/>
				<xs:element name="CmdInvoice" type="xs:string"/>
				<xs:element name="CmdDevice" type="xs:string"/>
				<xs:element name="CmdOperator" type="xs:string"/>
				<xs:element name="CmdActor" type="xs:string" minOccurs="0"/>
				<xs:element name="CmdSecurity" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Not supported by DTI</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CmdNote" type="xs:string" minOccurs="0"/>
				<xs:element name="CmdMarket" type="xs:string" minOccurs="0"/>
				<xs:element name="CmdAttribute" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="AttribName" type="xs:string"/>
							<xs:element name="AttribValue" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CreateTicketRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Ticket" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TktItem" type="xs:integer"/>
							<xs:element name="ProdCode" type="xs:string"/>
							<xs:element name="ProdQty" type="xs:integer"/>
							<xs:element name="ProdDemoData" minOccurs="0">
								<xs:complexType>
									<xs:sequence maxOccurs="unbounded">
										<xs:element name="TktDemoData" minOccurs="0">
											<xs:complexType>
												<xs:attribute name="FirstName" use="required">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="15"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="LastName" use="required">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="20"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="DateOfBirth" use="required">
													<xs:simpleType>
														<xs:restriction base="xs:date"/>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Gender" use="required">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="1"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Addr1" use="required">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="35"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Addr2" use="optional">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="35"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="City" use="required">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="20"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="State" use="optional">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="2"/>
															<xs:maxLength value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Zip" use="required">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="10"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Country" use="required">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="20"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Telephone" use="required">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="15"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Email" use="optional">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="5"/>
															<xs:maxLength value="50"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="OptInSolicit" use="required">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="YES"/>
															<xs:enumeration value="NO"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="TktID" minOccurs="0">
								<xs:complexType>
									<xs:choice>
										<xs:element name="External" type="xs:string"/>
									</xs:choice>
								</xs:complexType>
							</xs:element>
							<xs:element name="ProdPrice" type="xs:string" minOccurs="0"/>
							<xs:element name="TktValidity" minOccurs="0">
								<xs:complexType>
									<xs:choice maxOccurs="unbounded">
										<xs:element name="ValidStart" type="xs:date" minOccurs="0"/>
										<xs:element name="ValidEnd" type="xs:date" minOccurs="0"/>
									</xs:choice>
								</xs:complexType>
							</xs:element>
							<xs:element name="TktShell" type="xs:string" minOccurs="0"/>
							<xs:element name="TktNote" type="xs:string" minOccurs="0"/>
							<xs:element name="TktAssignment" minOccurs="0" maxOccurs="20">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="AccountItem" type="xs:integer"/>
										<xs:element name="ProdQty" type="xs:integer"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Payment" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PayItem" type="xs:string"/>
							<xs:element name="PayType">
								<xs:complexType>
									<xs:choice>
										<xs:element name="CreditCard">
											<xs:complexType>
												<xs:choice>
													<xs:element name="CCManual">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="CCNbr" type="xs:string"/>
																<xs:element name="CCExpiration">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="4"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="CCVV" type="xs:string" minOccurs="0"/>
																<xs:element name="CCName" type="xs:string" minOccurs="0"/>
																<xs:element name="CCStreet" type="xs:string" minOccurs="0"/>
																<xs:element name="CCZipcode" type="xs:string" minOccurs="0"/>
																<xs:element name="CCCAVV" type="xs:string" minOccurs="0"/>
																<xs:element name="CCEcommerce" type="xs:string" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Not fully supported by DTI</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="CCType" type="xs:string" minOccurs="0"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="CCSwipe">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="CCTrack1" type="xs:string"/>
																<xs:element name="CCTrack2" type="xs:string"/>
																<xs:element name="CCVV" type="xs:string" minOccurs="0"/>
																<xs:element name="PosTerminal" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:minLength value="4"/>
																			<xs:maxLength value="4"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ExtnlDevSerial" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:minLength value="1"/>
																			<xs:maxLength value="16"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="CCWireless">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="CCTrack1" type="xs:string"/>
																<xs:element name="CCTrack2" type="xs:string"/>
																<xs:element name="CCVV" type="xs:string" minOccurs="0"/>
																<xs:element name="PosTerminal" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:minLength value="4"/>
																			<xs:maxLength value="4"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ExtnlDevSerial" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:minLength value="1"/>
																			<xs:maxLength value="16"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:choice>
											</xs:complexType>
										</xs:element>
										<xs:element name="Voucher">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="MainCode" type="xs:string"/>
													<xs:element name="UniqueCode" type="xs:string" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="GiftCard">
											<xs:complexType>
												<xs:choice>
													<xs:element name="GCManual">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="GCNbr" type="xs:string"/>
																<xs:element name="GCStartDate" type="xs:date" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Not supported by DTI</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="GCSwipe">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="GCTrack1" type="xs:string" minOccurs="0"/>
																<xs:element name="GCTrack2" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:choice>
											</xs:complexType>
										</xs:element>
									</xs:choice>
								</xs:complexType>
							</xs:element>
							<xs:element name="PayAmount" type="xs:double" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Eligibility" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Group" type="xs:string"/>
							<xs:element name="Member" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="EntitlementAccount" minOccurs="0">
					<xs:complexType>
						<xs:choice>
							<xs:element name="DefaultAccount">
								<xs:annotation>
									<xs:documentation>AccountPerTicket or AccountPerOrder</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="AccountPerTicket"/>
										<xs:enumeration value="AccountPerOrder"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="SpecifiedAccount" maxOccurs="20">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="AccountItem" type="xs:integer"/>
										<xs:element name="ExistingAccount" minOccurs="0">
											<xs:complexType>
												<xs:choice>
													<xs:element name="ExistingMediaId">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="32"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="TktID">
														<xs:complexType>
															<xs:choice>
																<xs:element name="Mag" type="xs:string"/>
																<xs:element name="Barcode" type="xs:string"/>
																<xs:element name="TktDSSN">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="TktDate" type="xs:string"/>
																			<xs:element name="TktSite" type="xs:string"/>
																			<xs:element name="TktStation" type="xs:string"/>
																			<xs:element name="TktNbr" type="xs:string"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="TktNID" type="xs:string"/>
																<xs:element name="External" type="xs:string"/>
															</xs:choice>
														</xs:complexType>
													</xs:element>
													<xs:element name="AccountId" type="xs:string"/>
												</xs:choice>
											</xs:complexType>
										</xs:element>
										<xs:element name="NewAccount" type="ExternalReferenceType" minOccurs="0"/>
										<xs:element name="NewMediaData" minOccurs="0" maxOccurs="250">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="MediaId" type="xs:string"/>
													<xs:element name="MfrId" type="xs:string"/>
													<xs:element name="VisualId" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="AuditNotation" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="40"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ExternalReferenceType">
		<xs:sequence>
			<xs:element name="ExternalReferenceType">
				<xs:annotation>
					<xs:documentation>See enumeration for list...</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="XBANDID"/>
						<xs:enumeration value="GXP_LINK_ID"/>
						<xs:enumeration value="XBAND_EXTERNAL_NUMBER"/>
						<xs:enumeration value="SWID"/>
						<xs:enumeration value="GUID"/>
						<xs:enumeration value="XBMS_LINK_ID"/>
						<xs:enumeration value="XPASSID"/>
						<xs:enumeration value="TRANSACTIONAL_GUEST_ID"/>
						<xs:enumeration value="ADMISSION_LINK_ID"/>
						<xs:enumeration value="PAYMENT_LINK_ID"/>
						<xs:enumeration value="MEDIA_LINK_ID"/>
						<xs:enumeration value="XID"/>
						<xs:enumeration value="DME_LINK_ID"/>
						<xs:enumeration value="SECURE_ID"/>
						<xs:enumeration value="TXN_GUID"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ExternalReferenceValue">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
