Source/config/schemas/query_eligible_products_response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 sp1 (x64) (http://www.altova.com) by James Todd Lewis (WALT DISNEY WORLD RESORT) -->
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by Kevin Graham (Walt Disney World Co) -->
<!--TiXML 1.0 12/17/02 Copyright The Walt Disney Company -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0">
	<xs:element name="Transmission">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Payload">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="PayloadHeader"/>
							<xs:element name="Command" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="CommandHeader"/>
										<xs:element ref="QueryEligibleProductsResponse" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PayloadHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PayloadID">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="12"/>
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Target">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="4"/>
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Version">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="3"/>
							<xs:maxLength value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Priority" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Not supported by DTI</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ProcMethod" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Not supported by DTI </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Comm">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Protocol" type="xs:string"/>
							<xs:element name="Method" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="TransmitDate" type="xs:date"/>
				<xs:element name="TransmitTime" type="xs:string"/>
				<xs:element name="TktSeller">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TSMAC">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1"/>
										<xs:maxLength value="15"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TSSystem" type="xs:string"/>
							<xs:element name="TSLocation">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1"/>
										<xs:maxLength value="15"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TSSecurity" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PostHdrWork" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Not supported by DTI</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CommandCount" type="xs:integer"/>
				<xs:element name="PayloadNote" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Not supported by DTI</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CommandHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CmdItem" type="xs:integer"/>
				<xs:element name="CmdProcRule" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Not supported by DTI</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Rule" type="xs:string"/>
							<xs:element name="Value" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="CmdTimeout" type="xs:integer" minOccurs="0"/>
				<xs:element name="CmdDate" type="xs:date"/>
				<xs:element name="CmdTime" type="xs:string"/>
				<xs:element name="CmdInvoice" type="xs:string"/>
				<xs:element name="CmdDevice" type="xs:string"/>
				<xs:element name="CmdOperator" type="xs:string"/>
				<xs:element name="CmdActor" type="xs:string" minOccurs="0"/>
				<xs:element name="CmdSecurity" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Not supported by DTI</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CmdNote" type="xs:string" minOccurs="0"/>
				<xs:element name="CmdMarket" type="xs:string" minOccurs="0"/>
				<xs:element name="CmdAttribute" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="AttribName" type="xs:string"/>
							<xs:element name="AttribValue" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="QueryEligibleProductsResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Ticket" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:choice minOccurs="2" maxOccurs="unbounded">
							<xs:element name="TktItem" type="xs:integer"/>
							<xs:element name="TktID" minOccurs="0">
								<xs:complexType>
									<xs:choice maxOccurs="unbounded">
										<xs:element name="TktDSSN" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="TktDate" type="xs:string"/>
													<xs:element name="TktSite" type="xs:string"/>
													<xs:element name="TktStation" type="xs:string"/>
													<xs:element name="TktNbr" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="TktNID" type="xs:string" minOccurs="0"/>
										<xs:element name="External" type="xs:string" minOccurs="0"/>
										<xs:element name="VisualID" type="xs:string" minOccurs="0"/>
									</xs:choice>
								</xs:complexType>
							</xs:element>
							<xs:element name="ProdCode" type="xs:string"/>
							<xs:element name="ProdGuestType" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Adult"/>
										<xs:enumeration value="Child"/>
										<xs:enumeration value="Any"/>
										<xs:enumeration value="Unknown"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TktDemographics" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="DemoData" minOccurs="0">
											<xs:complexType>
												<!-- include all demographics, looks like optin/out is missing -->
												<xs:attribute name="Name" type="xs:string" use="optional"/>
												<xs:attribute name="LastName" type="xs:string" use="optional"/>
												<xs:attribute name="FirstName" type="xs:string" use="optional"/>
												<xs:attribute name="Addr1" type="xs:string" use="optional"/>
												<xs:attribute name="Addr2" type="xs:string" use="optional"/>
												<xs:attribute name="City" type="xs:string" use="optional"/>
												<xs:attribute name="State" type="xs:string" use="optional"/>
												<xs:attribute name="Zip" type="xs:string" use="optional"/>
												<xs:attribute name="Country" type="xs:string" use="optional"/>
												<xs:attribute name="Telephone" type="xs:string" use="optional"/>
												<xs:attribute name="Email" type="xs:anySimpleType" use="optional"/>
												<xs:attribute name="DateOfBirth">
													<xs:simpleType>
														<xs:restriction base="xs:date"/>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Gender" use="optional">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="1"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="TktValidity" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ValidStart" type="xs:date"/>
										<xs:element name="ValidEnd" type="xs:date"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="SRPPrice" type="xs:decimal" minOccurs="0"/>
							<xs:element name="SRPTax" type="xs:decimal" minOccurs="0"/>
							<xs:element name="TktStatus" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="StatusItem" type="xs:string">
											<xs:annotation>
												<xs:documentation>PAYPLAN, BIOMET, PHOTO</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="StatusValue" type="xs:string">
											<xs:annotation>
												<xs:documentation>YES, NO</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ResultStatus" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="INELIGIBLE"/>
										<xs:enumeration value="NOPRODUCTS"/>
										<xs:enumeration value="ELIGIBLE"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="EligibleProducts" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ProdCode"/>
										<xs:element name="ProdPrice" type="xs:string"/>
										<xs:element name="ProdTax" type="xs:decimal"/>
										<xs:element name="UpgrdPrice" type="xs:string" minOccurs="0"/>
										<xs:element name="UpgrdTax" type="xs:string" minOccurs="0"/>
										<xs:element name="ValidEnd" type="xs:date" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:choice>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
