Source/config/schemas/update_demographics_response.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0">   
    <xs:element name="Transmission">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Payload">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="PayloadHeader"/>
                            <xs:element name="Command">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element ref="CommandHeader"/>
                                        <xs:element ref="UpdateDemographicsResponse" minOccurs="0"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PayloadHeader">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="PayloadID">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="12"/>
                            <xs:maxLength value="20"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Target">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="4"/>
                            <xs:maxLength value="8"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Version">
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:minLength value="3"/>
                            <xs:maxLength value="3"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>
                <xs:element name="Priority" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Not supported by DTI</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="ProcMethod" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Not supported by DTI </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="Comm">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Protocol" type="xs:string"/>
                            <xs:element name="Method" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="TransmitDate" type="xs:date"/>
                <xs:element name="TransmitTime" type="xs:string"/>
                <xs:element name="TktSeller">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="TSMAC">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="15"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="TSSystem" type="xs:string"/>
                            <xs:element name="TSLocation">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:minLength value="1"/>
                                        <xs:maxLength value="15"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="TSSecurity" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="PostHdrWork" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Not supported by DTI</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="CommandCount" type="xs:integer"/>
                <xs:element name="PayloadNote" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Not supported by DTI</xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CommandHeader">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="CmdItem" type="xs:integer"/>
                <xs:element name="CmdProcRule" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>Not supported by DTI</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Rule" type="xs:string"/>
                            <xs:element name="Value" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="CmdTimeout" type="xs:integer" minOccurs="0"/>
                <xs:element name="CmdDate" type="xs:date"/>
                <xs:element name="CmdTime" type="xs:string"/>
                <xs:element name="CmdInvoice" type="xs:string"/>
                <xs:element name="CmdDevice" type="xs:string"/>
                <xs:element name="CmdOperator" type="xs:string"/>
                <xs:element name="CmdActor" type="xs:string" minOccurs="0"/>
                <xs:element name="CmdSecurity" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>Not supported by DTI</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="CmdNote" type="xs:string" minOccurs="0"/>
                <xs:element name="CmdMarket" type="xs:string" minOccurs="0"/>
                <xs:element name="CmdAttribute" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="AttribName" type="xs:string"/>
                            <xs:element name="AttribValue" type="xs:string"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <!--  inject response here -->
    <xs:element name="UpdateDemographicsResponse">
       <xs:annotation>
            <xs:appinfo>UpdateDemographicsResponse Note</xs:appinfo>
                <xs:documentation xml:lang="en">
                UpdateDemographic is not currently supported for WDW or DLR.
            </xs:documentation>
        </xs:annotation>
    <xs:complexType>
        <xs:sequence>
            <xs:element name="Error">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="ErrorCode" type="xs:integer">
                            <xs:annotation>
                                <xs:documentation>0 = no error</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                        <xs:element name="ErrorShortDescription" minOccurs="0">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:maxLength value="25" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="ErrorDescription" type="xs:string"
                            minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>Error Description</xs:documentation>
                            </xs:annotation>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="DemographicInfo" minOccurs="0"
                maxOccurs="8">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="Item">
                            <xs:simpleType>
                                <xs:restriction base="xs:integer">
                                    <xs:minInclusive value="1" />
                                    <xs:maxInclusive value="8" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="ItemStatus">
                            <xs:annotation>
                                <xs:documentation>Item Result Code</xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:integer">
                                    <xs:maxInclusive value="65000" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                        <xs:element name="DemographicType" type="xs:string"
                            minOccurs="0" />
                        <xs:element name="UniqueCode" type="xs:integer"
                            minOccurs="0" />
                        <xs:choice minOccurs="0">
                            <xs:sequence minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>DemographicType=M</xs:documentation>
                                </xs:annotation>
                                <xs:element name="ClientCategory" minOccurs="0">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:maxLength value="3" />
                                            <xs:minLength value="1" />
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:element>
                                <xs:element name="ClientLanguage" type="xs:integer"
                                    minOccurs="0" />
                            </xs:sequence>
                            <xs:element name="AssociationId" minOccurs="0">
                                <xs:annotation>
                                    <xs:documentation>DemographicType=G</xs:documentation>
                                </xs:annotation>
                            </xs:element>
                        </xs:choice>
                        <xs:element name="DemographicData" minOccurs="0">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="Field" maxOccurs="30">
                                        <xs:complexType>
                                            <xs:sequence>
                                                <xs:element name="FieldId" type="xs:integer" />
                                                <xs:element name="FieldType" type="xs:integer" />
                                                <xs:element name="FieldValue" type="xs:string" />
                                            </xs:sequence>
                                        </xs:complexType>
                                    </xs:element>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="AcountId" minOccurs="0">
                            <xs:annotation>
                                <xs:documentation>DemographicType=L
                                    NOT SUPPORTED YET
                                </xs:documentation>
                            </xs:annotation>
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:length value="17" />
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    </xs:element>
    <!-- end of response -->
    
    </xs:schema>