Source/docker/xsd/reservationrq.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2015 sp1 (x64) (http://www.altova.com) by James Todd Lewis (WALT DISNEY WORLD RESORT) -->
<!--TiXML 1.0 12/17/02 Copyright The Walt Disney Company -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0">
	<xs:element name="Transmission">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Payload">
					<xs:complexType>
						<xs:sequence>
							<xs:element ref="PayloadHeader"/>
							<xs:element name="Command">
								<xs:complexType>
									<xs:sequence>
										<xs:element ref="CommandHeader"/>
										<xs:element ref="ReservationRequest" minOccurs="0"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PayloadHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="PayloadID">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="12"/>
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Target">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="4"/>
							<xs:maxLength value="8"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Version">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:minLength value="3"/>
							<xs:maxLength value="3"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Priority" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Not supported by DTI</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="ProcMethod" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Not supported by DTI </xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="Comm">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Protocol" type="xs:string"/>
							<xs:element name="Method" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="TransmitDate" type="xs:date"/>
				<xs:element name="TransmitTime" type="xs:string"/>
				<xs:element name="TktSeller">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TSMAC">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1"/>
										<xs:maxLength value="15"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TSSystem" type="xs:string"/>
							<xs:element name="TSLocation">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1"/>
										<xs:maxLength value="15"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TSSecurity" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PostHdrWork" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Not supported by DTI</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CommandCount" type="xs:integer"/>
				<xs:element name="PayloadNote" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Not supported by DTI</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CommandHeader">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="CmdItem" type="xs:integer"/>
				<xs:element name="CmdProcRule" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Not supported by DTI</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Rule" type="xs:string"/>
							<xs:element name="Value" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="CmdTimeout" type="xs:integer" minOccurs="0"/>
				<xs:element name="CmdDate" type="xs:date"/>
				<xs:element name="CmdTime" type="xs:string"/>
				<xs:element name="CmdInvoice" type="xs:string"/>
				<xs:element name="CmdDevice" type="xs:string"/>
				<xs:element name="CmdOperator" type="xs:string"/>
				<xs:element name="CmdActor" type="xs:string" minOccurs="0"/>
				<xs:element name="CmdSecurity" type="xs:string" minOccurs="0">
					<xs:annotation>
						<xs:documentation>Not supported by DTI</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="CmdNote" type="xs:string" minOccurs="0"/>
				<xs:element name="CmdMarket" type="xs:string" minOccurs="0"/>
				<xs:element name="CmdAttribute" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="AttribName" type="xs:string"/>
							<xs:element name="AttribValue" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="ReservationRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RequestType">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:enumeration value="Create"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Ticket" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TktItem" type="xs:integer"/>
							<xs:element name="ProdCode" type="xs:string"/>
							<xs:element name="ProdQty" type="xs:integer"/>
							<xs:element name="ProdDemoData" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="TktDemoData" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute name="FirstName" use="required">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="35"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="LastName" use="required">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="35"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="DateOfBirth">
													<xs:simpleType>
														<xs:restriction base="xs:date"/>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Gender">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="10"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Addr1">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="40"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Addr2" use="optional">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="40"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="City">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="40"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="State" use="optional">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="40"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Zip">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="10"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Country">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="40"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Telephone" use="optional">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="50"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="CellPhone" use="optional">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="15"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Email" use="optional">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="50"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="OptInSolicit">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="YES"/>
															<xs:enumeration value="NO"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="SellerRef" use="optional">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="50"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ProdPrice" type="xs:string" minOccurs="0"/>
							<xs:element name="TktValidity" minOccurs="0">
								<xs:complexType>
									<xs:choice maxOccurs="unbounded">
										<xs:element name="ValidStart" type="xs:date" minOccurs="0"/>
										<xs:element name="ValidEnd" type="xs:date" minOccurs="0"/>
									</xs:choice>
								</xs:complexType>
							</xs:element>
							<xs:element name="TktAssignment" minOccurs="0" maxOccurs="20">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="AccountItem" type="xs:integer"/>
										<xs:element name="ProdQty" type="xs:integer"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ShowGroup" type="xs:string" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="APPassInfo" type="xs:string" minOccurs="0"/>
				<xs:element name="Payment" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PayItem" type="xs:string"/>
							<xs:element name="PayType">
								<xs:complexType>
									<xs:choice>
										<xs:element name="CreditCard">
											<xs:complexType>
												<xs:choice>
													<xs:element name="CCManual">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="CCNbr" type="xs:string"/>
																<xs:element name="CCExpiration">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:length value="4"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="CCVV" type="xs:string" minOccurs="0"/>
																<xs:element name="CCName" type="xs:string" minOccurs="0"/>
																<xs:element name="CCStreet" type="xs:string" minOccurs="0"/>
																<xs:element name="CCZipcode" type="xs:string" minOccurs="0"/>
																<xs:element name="CCCAVV" type="xs:string" minOccurs="0"/>
																<xs:element name="CCEcommerce" type="xs:string" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Not fully supported by DTI</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="CCType" type="xs:string" minOccurs="0"/>
																<xs:element name="CCSHA-1" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>SHA-1 Hash of Credit Card</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="80"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="CCSubCode" type="xs:string" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Card type</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="CCPreApproved" type="xs:boolean" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Defaults to false</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="CCAuthCode" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Required if CardType=SHA-1</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="10"/>
																			<xs:minLength value="1"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="CCSwipe">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="CCTrack1" type="xs:string"/>
																<xs:element name="CCTrack2" type="xs:string"/>
																<xs:element name="CCVV" type="xs:string" minOccurs="0"/>
																<xs:element name="PosTerminal" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:minLength value="4"/>
																			<xs:maxLength value="4"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ExtnlDevSerial" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:minLength value="1"/>
																			<xs:maxLength value="16"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="CCWireless">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="CCTrack1" type="xs:string"/>
																<xs:element name="CCTrack2" type="xs:string"/>
																<xs:element name="CCVV" type="xs:string" minOccurs="0"/>
																<xs:element name="PosTerminal" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:minLength value="4"/>
																			<xs:maxLength value="4"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ExtnlDevSerial" minOccurs="0">
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:minLength value="1"/>
																			<xs:maxLength value="16"/>
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:choice>
											</xs:complexType>
										</xs:element>
										<xs:element name="Voucher">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="MainCode" type="xs:string"/>
													<xs:element name="UniqueCode" type="xs:string" minOccurs="0"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="GiftCard">
											<xs:complexType>
												<xs:choice>
													<xs:element name="GCManual">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="GCNbr" type="xs:string"/>
																<xs:element name="GCStartDate" type="xs:date" minOccurs="0">
																	<xs:annotation>
																		<xs:documentation>Not supported by DTI</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="GCSwipe">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="GCTrack1" type="xs:string" minOccurs="0"/>
																<xs:element name="GCTrack2" type="xs:string"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:choice>
											</xs:complexType>
										</xs:element>
										<xs:element name="Installment">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="InstallmentCreditCard">
														<xs:complexType>
															<xs:choice>
																<xs:element name="CCManual">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="CCNbr" type="xs:string"/>
																			<xs:element name="CCExpiration">
																				<xs:simpleType>
																					<xs:restriction base="xs:string">
																						<xs:length value="4"/>
																					</xs:restriction>
																				</xs:simpleType>
																			</xs:element>
																			<xs:element name="CCName" type="xs:string"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="CCSwipe">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="CCTrack1" type="xs:string"/>
																			<xs:element name="CCTrack2" type="xs:string"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
															</xs:choice>
														</xs:complexType>
													</xs:element>
													<xs:element name="InstallmentDemoData">
														<xs:complexType>
															<xs:attribute name="FirstName" use="required">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="25"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="MiddleName" use="optional">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="25"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="LastName" use="required">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="25"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="DateOfBirth" use="optional">
																<xs:simpleType>
																	<xs:restriction base="xs:date"/>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="Addr1" use="required">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="40"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="Addr2" use="optional">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="40"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="City" use="required">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="25"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="State" use="required">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="2"/>
																		<xs:maxLength value="2"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="Zip" use="required">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="10"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="Country" use="required">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="15"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="Telephone" use="required">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="15"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="AltTelephone" use="optional">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="1"/>
																		<xs:maxLength value="15"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
															<xs:attribute name="Email" use="required">
																<xs:simpleType>
																	<xs:restriction base="xs:string">
																		<xs:minLength value="5"/>
																		<xs:maxLength value="50"/>
																	</xs:restriction>
																</xs:simpleType>
															</xs:attribute>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:choice>
								</xs:complexType>
							</xs:element>
							<xs:element name="PayAmount" type="xs:double" minOccurs="0"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Eligibility" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Group" type="xs:string"/>
							<xs:element name="Member" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Reservation" minOccurs="0">
					<xs:complexType>
						<xs:choice maxOccurs="unbounded">
							<xs:element name="ResCode" type="xs:string" minOccurs="0"/>
							<xs:element name="ResNumber" type="xs:string" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Not supported by DTI</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="ResCreateDate" type="xs:date" minOccurs="0"/>
							<xs:element name="ResPickupDate" type="xs:date" minOccurs="0"/>
							<xs:element name="ResPickupArea" type="xs:string" minOccurs="0"/>
							<xs:element name="ResSalesType" type="xs:string" minOccurs="0"/>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="ClientData" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ClientId" type="xs:string" minOccurs="0"/>
							<xs:element name="ClientType" type="xs:string" minOccurs="0"/>
							<xs:element name="ClientCategory" type="xs:string" minOccurs="0"/>
							<xs:element name="DemoLanguage" type="xs:string" minOccurs="0"/>
							<xs:element name="DemoData" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Bill" minOccurs="0">
											<xs:complexType>
												<xs:attribute name="Name" type="xs:string" use="optional"/>
												<xs:attribute name="LastName" type="xs:string" use="optional"/>
												<xs:attribute name="FirstName" type="xs:string" use="optional"/>
												<xs:attribute name="FirstNameCH" type="xs:string" use="optional"/>
												<xs:attribute name="Addr1" type="xs:string" use="optional"/>
												<xs:attribute name="Addr2" type="xs:string" use="optional"/>
												<xs:attribute name="City" type="xs:string" use="optional"/>
												<xs:attribute name="State" type="xs:string" use="optional"/>
												<xs:attribute name="Zip" type="xs:string" use="optional"/>
												<xs:attribute name="Country" type="xs:string" use="optional"/>
												<xs:attribute name="Telephone" type="xs:string" use="optional"/>
												<xs:attribute name="Email" type="xs:anySimpleType" use="optional"/>
												<xs:attribute name="SellerResNbr" type="xs:string" use="optional"/>
											</xs:complexType>
										</xs:element>
										<xs:element name="Ship" minOccurs="0">
											<xs:complexType>
												<xs:attribute name="Name" type="xs:string" use="optional"/>
												<xs:attribute name="LastName" type="xs:string" use="optional"/>
												<xs:attribute name="FirstName" type="xs:string" use="optional"/>
												<xs:attribute name="FirstNameCH" type="xs:string" use="optional"/>
												<xs:attribute name="Addr1" type="xs:string" use="optional"/>
												<xs:attribute name="Addr2" type="xs:string" use="optional"/>
												<xs:attribute name="City" type="xs:string" use="optional"/>
												<xs:attribute name="State" type="xs:string" use="optional"/>
												<xs:attribute name="Zip" type="xs:string" use="optional"/>
												<xs:attribute name="Country" type="xs:string" use="optional"/>
												<xs:attribute name="Telephone" type="xs:string" use="optional"/>
												<xs:attribute name="Email" type="xs:string" use="optional"/>
                                                <xs:attribute name="Note" type="xs:string" use="optional"/> 
											</xs:complexType>
										</xs:element>
										<xs:element name="Delivery" minOccurs="0">
											<xs:complexType>
												<xs:attribute name="Name" use="optional">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="40"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="LastName" use="optional">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="20"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="FirstName" use="optional">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="15"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Addr1" use="optional">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="40"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Addr2" use="optional">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="40"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="City" use="optional">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="25"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="State" use="optional">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="3"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Zip" use="optional">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="10"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Country" use="optional">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="30"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Telephone" use="optional">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="15"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Email" use="optional">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:maxLength value="50"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ClientPaymentMethod" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="CREDIT CARD"/>
										<xs:enumeration value="DISNEY GIFT CARD"/>
										<xs:enumeration value="ORGANIZATIONAL CHECK"/>
										<xs:enumeration value="CASHIER'S CHECK"/>
										<xs:enumeration value="MONEY ORDER"/>
										<xs:enumeration value="WIRE TRANSFER"/>
										<xs:enumeration value="PAY AT PICKUP"/>
										<xs:enumeration value="MASTER ACCOUNT"/>
										<xs:enumeration value="SAP JOB NUMBER"/>
										<xs:enumeration value="TICKET EXCHANGE"/>
										<xs:enumeration value="MONEY ON ACCOUNT"/>
										<xs:enumeration value="ACCOUNT CREDIT"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ClientFulfillmentMethod" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="50"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ClientDeliveryInstructions" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="480"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ClientGroupValidity" minOccurs="0">
								<xs:complexType>
									<xs:choice maxOccurs="unbounded">
										<xs:element name="ValidStart" type="xs:date"/>
										<xs:element name="ValidEnd" type="xs:date"/>
									</xs:choice>
								</xs:complexType>
							</xs:element>
							<xs:element name="ClientSalesContact" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="9"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TimeRequirement" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="30"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Agency" minOccurs="0">
					<xs:complexType>
						<xs:choice maxOccurs="unbounded">
							<xs:element name="IATA" type="xs:string"/>
							<xs:element name="Agent" type="xs:string"/>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="TaxExemptCode" minOccurs="0">
					<xs:simpleType>
						<xs:restriction base="xs:string">
							<xs:maxLength value="20"/>
						</xs:restriction>
					</xs:simpleType>
				</xs:element>
				<xs:element name="Note" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
				<xs:element name="EntitlementAccount" minOccurs="0">
					<xs:complexType>
						<xs:choice>
							<xs:element name="DefaultAccount">
								<xs:annotation>
									<xs:documentation>AccountPerTicket or AccountPerOrder</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="AccountPerTicket"/>
										<xs:enumeration value="AccountPerOrder"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="SpecifiedAccount" maxOccurs="20">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="AccountItem" type="xs:integer"/>
										<xs:element name="ExistingAccount" minOccurs="0">
											<xs:complexType>
												<xs:choice>
													<xs:element name="ExistingMediaId">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="32"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="TktID">
														<xs:complexType>
															<xs:choice>
																<xs:element name="Mag" type="xs:string"/>
																<xs:element name="Barcode" type="xs:string"/>
																<xs:element name="TktDSSN">
																	<xs:complexType>
																		<xs:sequence>
																			<xs:element name="TktDate" type="xs:string"/>
																			<xs:element name="TktSite" type="xs:string"/>
																			<xs:element name="TktStation" type="xs:string"/>
																			<xs:element name="TktNbr" type="xs:string"/>
																		</xs:sequence>
																	</xs:complexType>
																</xs:element>
																<xs:element name="TktNID" type="xs:string"/>
																<xs:element name="External" type="xs:string"/>
															</xs:choice>
														</xs:complexType>
													</xs:element>
													<xs:element name="AccountId" type="xs:string"/>
												</xs:choice>
											</xs:complexType>
										</xs:element>
										<xs:element name="NewAccount" type="ExternalReferenceType" minOccurs="0"/>
										<xs:element name="AccountDemoData" minOccurs="0">
											<xs:complexType>
												<xs:attribute name="Title" use="optional">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="20"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="FirstName">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="50"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="MiddleName">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="50"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="LastName">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="50"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Suffix">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="20"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="DateOfBirth">
													<xs:simpleType>
														<xs:restriction base="xs:date"/>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Addr1">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="50"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Addr2">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="50"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="City">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="50"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="State" use="optional">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="2"/>
															<xs:maxLength value="2"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Zip">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="20"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Country">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="1"/>
															<xs:maxLength value="50"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="Email" use="optional">
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:minLength value="5"/>
															<xs:maxLength value="50"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
												<xs:attribute name="OptInSolicit">
													<xs:annotation>
														<xs:documentation>DTI will default to NO</xs:documentation>
													</xs:annotation>
													<xs:simpleType>
														<xs:restriction base="xs:string">
															<xs:enumeration value="YES"/>
															<xs:enumeration value="NO"/>
														</xs:restriction>
													</xs:simpleType>
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="NewMediaData" minOccurs="0" maxOccurs="250">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="MediaId" type="xs:string"/>
													<xs:element name="MfrId" type="xs:string"/>
													<xs:element name="VisualId" type="xs:string"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:choice>
					</xs:complexType>
				</xs:element>
				<xs:element name="ExtTxnIdentifier" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="TxnIdentifier">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="1"/>
										<xs:maxLength value="80"/>
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="SHA-1Encrypted" type="xs:boolean" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Defaults to true</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Show" minOccurs="0">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ShowGroup" type="xs:string"/>
							<xs:element name="ShowPerformance" type="xs:string"/>
							<xs:element name="ShowQuota" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="ExternalReferenceType">
		<xs:sequence>
			<xs:element name="ExternalReferenceType">
				<xs:annotation>
					<xs:documentation>See enumeration for list...</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:enumeration value="XBANDID"/>
						<xs:enumeration value="GXP_LINK_ID"/>
						<xs:enumeration value="XBAND_EXTERNAL_NUMBER"/>
						<xs:enumeration value="SWID"/>
						<xs:enumeration value="GUID"/>
						<xs:enumeration value="XBMS_LINK_ID"/>
						<xs:enumeration value="XPASSID"/>
						<xs:enumeration value="TRANSACTIONAL_GUEST_ID"/>
						<xs:enumeration value="ADMISSION_LINK_ID"/>
						<xs:enumeration value="PAYMENT_LINK_ID"/>
						<xs:enumeration value="MEDIA_LINK_ID"/>
						<xs:enumeration value="XID"/>
						<xs:enumeration value="DME_LINK_ID"/>
						<xs:enumeration value="SECURE_ID"/>
						<xs:enumeration value="TXN_GUID"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="ExternalReferenceValue">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="64"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MediaData">
		<xs:sequence>
			<xs:element name="MediaId">
				<xs:annotation>
					<xs:documentation>(aka SecureID) Could be xBandID, RFID, etc.
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="MfrId">
				<xs:annotation>
					<xs:documentation>Manufacturer's ID</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="20"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="VisualId">
				<xs:annotation>
					<xs:documentation>Required along with MediaID and Manufacturer's ID
					</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Ticket">
		<xs:sequence>
			<xs:element name="TktItem" type="xs:integer"/>
			<xs:element name="TktID">
				<xs:complexType>
					<xs:choice>
						<xs:element name="Mag" type="xs:string"/>
						<xs:element name="Barcode" type="xs:string"/>
						<xs:element name="TktDSSN">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="TktDate" type="xs:date"/>
									<xs:element name="TktSite" type="xs:string"/>
									<xs:element name="TktStation" type="xs:string"/>
									<xs:element name="TktNbr" type="xs:string"/>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="TktNID" type="xs:string"/>
						<xs:element name="External" type="xs:string"/>
					</xs:choice>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EntitlementAccount">
		<xs:choice>
			<xs:element name="ExistingMediaId">
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="32"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<!-- NGE 1212 (GBTS 196) - Remove the indexes on both the Visual Id and the Manufacturer's Id <xs:element name="ExistingMfrId"> <xs:simpleType> <xs:restriction base="xs:string"> 
				<xs:maxLength value="20"/> </xs:restriction> </xs:simpleType> </xs:element> <xs:element name="ExistingVisualId"> <xs:simpleType> <xs:restriction base="xs:string"> <xs:maxLength value="32"/> 
				</xs:restriction> </xs:simpleType> </xs:element> -->
			<xs:element name="AccountId">
				<xs:annotation>
					<xs:documentation>Overview Internal Account Id</xs:documentation>
				</xs:annotation>
				<xs:simpleType>
					<xs:restriction base="xs:string">
						<xs:maxLength value="17"/>
					</xs:restriction>
				</xs:simpleType>
			</xs:element>
			<xs:element name="Ticket" type="Ticket"/>
		</xs:choice>
	</xs:complexType>
</xs:schema>
