gatewaywar/src/main/webapp/ManageReservationAnswer.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.4 U (http://www.xmlspy.com) by Andrea Martinotti (OmniTicket Network Administration) -->
<!--Copyright Notice: This document (written or otherwise displayed on magnetic media or other medium) contains confidential and proprietary information of OmniTicket Network, Inc. 
	or its affiliates. It has been furnished only for informational purposes, and no license or permission is hereby granted to use such information in any manner. In no event may this 
	information be reproduced, distributed and/or publicly displayed in any form or by any means without prior expressed written permission of OmniTicket Network, Inc. All rights reserved. -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="Command">
		<xs:annotation>
			<xs:documentation>Message Answer Format</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Header">
					<xs:annotation>
						<xs:documentation>Recap information on Message type</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ReferenceNumber">
								<xs:annotation>
									<xs:documentation>Incoming </xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="30" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="RequestNumber" type="xs:integer">
								<xs:annotation>
									<xs:documentation>Match the Incoming Request Number</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="SessionId" type="xs:integer">
								<xs:annotation>
									<xs:documentation>Session Id
										One for each new Login where managed
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="RequestType">
								<xs:annotation>
									<xs:documentation>Command Group
										Command group type
									</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Manage" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="RequestSubType">
								<xs:annotation>
									<xs:documentation>Command subtype
										Detailed command
									</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="ManageReservation" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ValueMsg">
								<xs:annotation>
									<xs:documentation>Value messages Group
										Only on answer Messages
									</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ValuedQty" type="xs:integer" />
										<xs:element name="NonValuedQty" type="xs:integer" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ManageReservation">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Error">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ErrorCode" type="xs:integer">
											<xs:annotation>
												<xs:documentation>0 = no error</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ErrorShortDescription" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="25" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ErrorDescription" type="xs:string" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Error Description</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="CommandType" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:enumeration value="Create" />
										<xs:enumeration value="Modify" />
										<xs:enumeration value="Query" />
										<xs:enumeration value="Void" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TicketInfo" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Item" type="xs:integer" />
										<xs:element name="ItemStatus">
											<xs:annotation>
												<xs:documentation>Item Result Code</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:maxInclusive value="65000" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ItemType" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1" />
													<xs:maxLength value="1" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ItemAlphaCode">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="5" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ItemNumCode" type="xs:integer" />
										<xs:element name="TicketName" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="0" />
													<xs:maxLength value="20" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Description" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="0" />
													<xs:maxLength value="40" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PrintedPrice" type="xs:float" minOccurs="0" />
										<xs:element name="Price" type="xs:float" minOccurs="0" />
										<xs:element name="Tax" type="xs:float" minOccurs="0" />
										<xs:element name="Ticket" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="TDSSN">
														<xs:annotation>
															<xs:documentation>String Code</xs:documentation>
														</xs:annotation>
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Site">
																	<xs:annotation>
																		<xs:documentation>Site String</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="3" />
																			<xs:minLength value="3" />
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Station">
																	<xs:annotation>
																		<xs:documentation>Station String</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:minLength value="6" />
																			<xs:maxLength value="6" />
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
																<xs:element name="Date" type="xs:string">
																	<xs:annotation>
																		<xs:documentation>Date String</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="TicketId" type="xs:integer">
																	<xs:annotation>
																		<xs:documentation>Ticket string</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
													<xs:element name="TCOD">
														<xs:annotation>
															<xs:documentation>Numeric Code</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="17" />
																<xs:minLength value="17" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="BarCode">
														<xs:annotation>
															<xs:documentation>Ticket Barcode</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="21" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="MagCode">
														<xs:annotation>
															<xs:documentation>Mag Track 1</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="73" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="ExternalTicketCode">
														<xs:annotation>
															<xs:documentation>External ticket code
																(phase 2)
															</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="20" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Validity" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Validity at the gate</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="StartDate" type="xs:string">
														<xs:annotation>
															<xs:documentation>Start Date at gates</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="EndDate" type="xs:string" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="TicketFlag" minOccurs="0">
											<xs:complexType>
												<xs:sequence maxOccurs="unbounded">
													<xs:element name="TicketFlagNumber" type="xs:integer">
														<xs:annotation>
															<xs:documentation>Ticket Flag
																TF001 table
															</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="TicketAttribute" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Attribute information (number)</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:maxInclusive value="65000" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="TicketNote" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Note linked to a ticket, if one</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="25" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="BiometricLevel" type="xs:integer" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Level of biometric check
													See BL001 table
												</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ShowData" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Show" maxOccurs="6">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Item">
																	<xs:simpleType>
																		<xs:restriction base="xs:integer" />
																	</xs:simpleType>
																</xs:element>
																<xs:element name="ShowCode" type="xs:string" />
																<xs:element name="ShowName" />
																<xs:element name="ShowTitle1" type="xs:string" />
																<xs:element name="ShowTitle2" type="xs:string" />
																<xs:element name="GateCode" />
																<xs:element name="GateName" />
																<xs:element name="GroupCode" />
																<xs:element name="PerformanceId" />
																<xs:element name="Date" />
																<xs:element name="Time" />
																<xs:element name="ShowTimeLimit" />
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="SeatData" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="SectorCode" type="xs:string" />
													<xs:element name="SectorDescription" type="xs:string" />
													<xs:element name="Row" type="xs:string" />
													<xs:element name="Column" type="xs:string" />
													<xs:element name="InternalId" type="xs:integer" />
													<xs:element name="PriceTableIndex" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Layout" type="xs:byte" minOccurs="0" />
										<xs:element name="AssociationInfo" minOccurs="0">
											<xs:annotation>
												<xs:documentation>NOT SUPPORTED YET Available only fo Season Passes</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="AssociationId" type="xs:integer">
														<xs:annotation>
															<xs:documentation>Internal OVW association ID</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="MemberInfo">
														<xs:complexType>
															<xs:choice>
																<xs:element name="MemberId" type="xs:integer">
																	<xs:annotation>
																		<xs:documentation>Internal OVW memeber ID</xs:documentation>
																	</xs:annotation>
																</xs:element>
																<xs:element name="MemberField">
																	<xs:annotation>
																		<xs:documentation>First data mask field</xs:documentation>
																	</xs:annotation>
																	<xs:simpleType>
																		<xs:restriction base="xs:string">
																			<xs:maxLength value="15" />
																		</xs:restriction>
																	</xs:simpleType>
																</xs:element>
															</xs:choice>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ProductInfo" minOccurs="0" maxOccurs="40">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Item">
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:minInclusive value="1" />
													<xs:maxInclusive value="20" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="TicketType" type="xs:integer" />
										<xs:element name="Price" type="xs:float" minOccurs="0" />
										<xs:element name="Qty" type="xs:integer" minOccurs="0">
											<xs:annotation>
												<xs:documentation>Ticket Quantity</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Tax" type="xs:float" minOccurs="0" />
										<xs:element name="TicketName" minOccurs="0" />
										<xs:element name="Description" minOccurs="0" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="PaymentInfo" minOccurs="0" maxOccurs="3">
								<xs:annotation>
									<xs:documentation>Payment Information Group</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Item">
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:maxInclusive value="3" />
													<xs:minInclusive value="1" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PaymentType">
											<xs:annotation>
												<xs:documentation>Payment Type Code
													See PT001 Table
												</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:minInclusive value="1" />
													<xs:maxInclusive value="16" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="PaymentAmount" type="xs:float">
											<xs:annotation>
												<xs:documentation>Payment Amount</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:choice minOccurs="0">
											<xs:element name="CreditCard" minOccurs="0">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="CardType" type="xs:byte">
															<xs:annotation>
																<xs:documentation>0=Credit Card 1=Gift Card</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="AuthErrorCode">
															<xs:annotation>
																<xs:documentation>Authorizator Error
																	0=no error
																</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="xs:string" />
															</xs:simpleType>
														</xs:element>
														<xs:element name="AuthNumber" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Bank Authorization number</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="xs:string" />
															</xs:simpleType>
														</xs:element>
														<xs:element name="AuthMessage" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Bank Authorization message</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="25" />
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="CCNumber" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Credit Card Number
																	Only last four digits if CC
																	Mask last four digits if Gift Card
																</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="20" />
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="CCExpiration" minOccurs="0">
															<xs:annotation>
																<xs:documentation>MMYY</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="4" />
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="RemainingBalance" type="xs:float" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Gift Card only</xs:documentation>
															</xs:annotation>
														</xs:element>
														<xs:element name="PromoExpDate" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Gift Card only YY-MM-DD</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:length value="8" />
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="RRN" type="xs:string" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Only if PCI complient</xs:documentation>
															</xs:annotation>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="Voucher" minOccurs="0">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="MasterCode" type="xs:integer" />
														<xs:element name="UniqueCode" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="25" />
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="HotelCharge" minOccurs="0">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="AuthErrorCode">
															<xs:annotation>
																<xs:documentation>Authorizator Error
																	0=no error
																</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="xs:string" />
															</xs:simpleType>
														</xs:element>
														<xs:element name="AuthNumber" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Bank Authorization number</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="xs:string" />
															</xs:simpleType>
														</xs:element>
														<xs:element name="AuthMessage" minOccurs="0">
															<xs:annotation>
																<xs:documentation>Bank Authorization message</xs:documentation>
															</xs:annotation>
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="25" />
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="FolioCode" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="20" />
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
													</xs:sequence>
												</xs:complexType>
											</xs:element>
										</xs:choice>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="TransactionDSSN" minOccurs="0">
								<xs:annotation>
									<xs:documentation>Transaction Information</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Site">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="3" />
													<xs:maxLength value="3" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Station">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="6" />
													<xs:maxLength value="6" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Date" type="xs:string" />
										<xs:element name="TransactionId" type="xs:integer">
											<xs:annotation>
												<xs:documentation>Transaction Number</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="TransactionCOD" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:maxLength value="17" />
										<xs:minLength value="17" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="TransactionTime" type="xs:string" minOccurs="0" />
							<xs:element name="TotalAmount" minOccurs="0" />
							<xs:element name="TotalTax" minOccurs="0" />
							<xs:element name="TaxExempt" type="xs:boolean" minOccurs="0" />
							<xs:element name="ReservationCode" minOccurs="0">
								<xs:simpleType>
									<xs:restriction base="xs:string">
										<xs:minLength value="10" />
										<xs:maxLength value="12" />
									</xs:restriction>
								</xs:simpleType>
							</xs:element>
							<xs:element name="ReservationId" type="xs:integer" minOccurs="0" />
							<xs:element name="ReservationNote" minOccurs="0" />
							<xs:element name="NoteDetails" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="NoteLine" maxOccurs="20">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="LineId">
														<xs:simpleType>
															<xs:restriction base="xs:integer">
																<xs:maxInclusive value="20" />
																<xs:minInclusive value="1" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Value">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="50" />
																<xs:minLength value="1" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ReservationDate" type="xs:string" minOccurs="0" />
							<xs:element name="ReservationData" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Paid" type="xs:boolean" />
										<xs:element name="Printed" type="xs:boolean" />
										<xs:element name="Encoded" type="xs:boolean" />
										<xs:element name="Validated" type="xs:boolean" />
										<xs:element name="DepositAmount" type="xs:float" />
										<xs:element name="SalesType">
											<xs:annotation>
												<xs:documentation>1=Presale (default)
													2=Mail order
													3=Overnight mail
												</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:byte">
													<xs:maxInclusive value="3" />
													<xs:minInclusive value="1" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ResStatus">
											<xs:annotation>
												<xs:documentation>More info from OTN</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="ResPickupDate" type="xs:string" minOccurs="0" />
										<xs:element name="ResPickupArea" type="xs:integer" minOccurs="0" />
										<xs:element name="ResPickupType" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:byte">
													<xs:minInclusive value="0" />
													<xs:maxInclusive value="2" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="BatchNumber" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:minInclusive value="1" />
													<xs:maxInclusive value="99" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="BatchDate" type="xs:string" minOccurs="0" />
										<xs:element name="BatchStatus" type="xs:string" minOccurs="0" />
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="MacroReservationId" minOccurs="0">
								<xs:annotation>
									<xs:documentation>NOT YET SUPPORTED Available if reservation is part of a Macro reservation</xs:documentation>
								</xs:annotation>
								<xs:complexType />
							</xs:element>
							<xs:element name="ClientData" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ClientUniqueId" type="xs:integer" />
										<xs:element name="ClientType">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1" />
													<xs:maxLength value="1" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ClientSubtype" type="xs:integer" />
										<xs:element name="ClientCategory" minOccurs="0">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="3" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="ClientLanguage" type="xs:integer" />
										<xs:element name="DemographicData">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Field" maxOccurs="30">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="FieldId" type="xs:integer" />
																<xs:element name="FieldType" type="xs:integer" />
																<xs:element name="FieldValue" type="xs:string" />
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="BillTo" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ClientUniqueId" type="xs:integer" />
										<xs:element name="ClientType">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:minLength value="1" />
													<xs:maxLength value="1" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DemographicData">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Field" maxOccurs="30">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="FieldId" type="xs:integer" />
																<xs:element name="FieldType" type="xs:integer" />
																<xs:element name="FieldValue" type="xs:string" />
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ReservedSeatsData" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ReservedSeat" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="SectorCode" type="xs:string" />
													<xs:element name="SectorDescription" type="xs:string" />
													<xs:element name="Row" type="xs:string" />
													<xs:element name="Column" type="xs:string" />
													<xs:element name="InternalId" type="xs:integer" />
													<xs:element name="PerformanceId" type="xs:integer" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ErrorShowData" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="GroupCode">
											<xs:annotation>
												<xs:documentation>Always higher then zero</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:integer">
													<xs:minInclusive value="1" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:choice>
											<xs:element name="ShowInfo">
												<xs:complexType>
													<xs:sequence>
														<xs:element name="Date" type="xs:string" />
														<xs:element name="Time" minOccurs="0">
															<xs:simpleType>
																<xs:restriction base="xs:string">
																	<xs:maxLength value="5" />
																</xs:restriction>
															</xs:simpleType>
														</xs:element>
														<xs:element name="ShowCode" type="xs:string" />
													</xs:sequence>
												</xs:complexType>
											</xs:element>
											<xs:element name="PerformanceId" type="xs:integer" />
										</xs:choice>
										<xs:element name="Quota" />
										<xs:element name="PriceListId" type="xs:integer">
											<xs:annotation>
												<xs:documentation>Seat Allocation Only Default=1</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="EnvelopeId" type="xs:integer">
											<xs:annotation>
												<xs:documentation>Seat Allocation Only Default=0</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Adjacent" type="xs:boolean">
											<xs:annotation>
												<xs:documentation>Seat Allocation Only Default=TRUE</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Invoices" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Type">
											<xs:annotation>
												<xs:documentation>I=Invoice C=Credit Note</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="1" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Status">
											<xs:annotation>
												<xs:documentation>E=Emitted P=Printed</xs:documentation>
											</xs:annotation>
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:length value="1" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Group">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="2" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="Number" type="xs:integer" />
										<xs:element name="Amount" type="xs:string" />
										<xs:element name="Tax" type="xs:string" />
										<xs:element name="FiscalId">
											<xs:simpleType>
												<xs:restriction base="xs:string">
													<xs:maxLength value="16" />
												</xs:restriction>
											</xs:simpleType>
										</xs:element>
										<xs:element name="DemographicData">
											<xs:annotation>
												<xs:documentation>(Bill To)</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Field" maxOccurs="30">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="FieldId" type="xs:integer" />
																<xs:element name="FieldType" type="xs:integer" />
																<xs:element name="FieldValue" type="xs:string" />
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="TransactionDSSN" minOccurs="0">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Site">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="3" />
																<xs:maxLength value="3" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Station">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="6" />
																<xs:maxLength value="6" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Date" type="xs:string" />
													<xs:element name="TransactionId" type="xs:integer" />
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="AssociationInfo" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="AssociationId" type="xs:integer">
											<xs:annotation>
												<xs:documentation>Internal OVW association ID</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="MemberInfo">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="MemberId" type="xs:integer">
														<xs:annotation>
															<xs:documentation>Internal OVW memeber ID</xs:documentation>
														</xs:annotation>
													</xs:element>
													<xs:element name="MemberField">
														<xs:annotation>
															<xs:documentation>First data mask field</xs:documentation>
														</xs:annotation>
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:maxLength value="15" />
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
